In [78]:
import pandas as pd

In [79]:
jun = pd.read_excel("2017_jun_final.xlsx")

jun

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",2017-12-06 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,2017-12-06 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",2017-12-06 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",2017-12-06 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",2017-12-06 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,8700,QA engineer,NaN,Manual QA,1,менше 3 місяців,700,700,Одеса,до 50 осіб,...,False,Intermediate (середній),"Android,Desktop Applications",2017-12-07 15:45:24,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,1.0,0.0,700,NaN,QA
8700,8701,Marketing,NaN,NaN,0.5,0.5,400,120,Київ,до 50 осіб,...,False,Pre-intermediate (нище середнього),eCommerce,2017-12-07 17:00:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,NaN
8701,8702,Junior Software Engineer,Ruby/Rails,NaN,1,0.5,800,500,Львів,до 10 осіб,...,False,Upper-Intermediate (вище середнього),"Веб-розробка,Корпоративні системи",2017-12-07 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800,NaN,DEV
8702,8703,Team lead,NaN,NaN,6,4,2600,0,Дніпро,більше 1000 осіб,...,False,Advanced (просунутий),Фінанси та банкінг,2017-12-07 18:14:59,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,6.0,4.0,2600,NaN,PM
8703,8704,Senior Software Engineer,Java,NaN,7,2,5000,800,Одеса,до 1000 осіб,...,False,Upper-Intermediate (вище середнього),Веб-розробка,2017-12-07 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000,NaN,DEV

In [80]:
jun.head

<bound method NDFrame.head of          N                    Посада Мова програмування Спеціалізація  \
0        1        Junior QA engineer                NaN     Manual QA
1        2        Junior QA engineer                NaN     Manual QA
2        3         Software Engineer            C#/.NET           NaN
3        4         Software Engineer         JavaScript           NaN
4        5  Senior Software Engineer         JavaScript           NaN
...    ...                       ...                ...           ...
8699  8700               QA engineer                NaN     Manual QA
8700  8701                 Marketing                NaN           NaN
8701  8702  Junior Software Engineer         Ruby/Rails           NaN
8702  8703                 Team lead                NaN           NaN
8703  8704  Senior Software Engineer               Java           NaN

     Загальний досвід роботи Досвід роботи на поточному місці  \
0                        0.5                              0.5
1            менше 3 місяців                  менше 3 місяців
2                          4                                1
3                          5                                4
4          10 і більше років                              0.5
...                      ...                              ...
8699                       1                  менше 3 місяців
8700                     0.5                              0.5
8701                       1                              0.5
8702                       6                                4
8703                       7                                2

      Зарплата на місяць  Зміна зарплати за 12 місяців   Місто  \
0                    400                             0  Харків
1                    430                           130  Харків
2                   2500                           800    Київ
3                   2000                           400   Одеса
4                   4500                           500    Інше
...                  ...                           ...     ...
8699                 700                           700   Одеса
8700                 400                           120    Київ
8701                 800                           500   Львів
8702                2600                             0  Дніпро
8703                5000                           800   Одеса

       Розмір компанії  ... Ще студент                    Рівень англійської  \
0           до 10 осіб  ...       True    Pre-intermediate (нище середнього)
1     більше 1000 осіб  ...       True  Upper-Intermediate (вище середнього)
2         до 1000 осіб  ...      False               Intermediate (середній)
3          до 200 осіб  ...      False    Pre-intermediate (нище середнього)
4           до 10 осіб  ...      False               Intermediate (середній)
...                ...  ...        ...                                   ...
8699        до 50 осіб  ...      False               Intermediate (середній)
8700        до 50 осіб  ...      False    Pre-intermediate (нище середнього)
8701        до 10 осіб  ...      False  Upper-Intermediate (вище середнього)
8702  більше 1000 осіб  ...      False                 Advanced (просунутий)
8703      до 1000 осіб  ...      False  Upper-Intermediate (вище середнього)

                      Предметна область      Дата заповнення  \
0                         iOS,eCommerce  2017-12-06 12:38:08
1                          Веб-розробка  2017-12-06 12:42:51
2     Веб-розробка,Корпоративні системи  2017-12-06 13:02:47
3     Desktop Applications,Веб-розробка  2017-12-06 13:03:01
4     Desktop Applications,Веб-розробка  2017-12-06 13:03:47
...                                 ...                  ...
8699       Android,Desktop Applications  2017-12-07 15:45:24
8700                          eCommerce  2017-12-07 17:00:06
8701  Веб-розробка,Корпоративні системи  2017-12-07 17:32:26
8702                 Фінанси та банкінг  2017-12-07 18:14:59
8703                       Веб-розробка  2017-12-07 21:28:57

                                             User.Agent   exp current_job_exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
0       400    NaN   QA
1       430    NaN   QA
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
...     ...    ...  ...
8699    700    NaN   QA
8700    400    NaN  NaN
8701    800    NaN  DEV
8702   2600    NaN   PM
8703   5000    NaN  DEV

[8704 rows x 25 columns]>

In [81]:
jun.shape

(8704, 25)

In [82]:
jun.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [83]:
jun.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [84]:
columns_with_nulls = jun.columns[jun.isnull().any()]
columns_to_keep = columns_with_nulls.drop("Мова програмування")

# Видаляємо стовпці з пропусками, крім "Мова програмування"
juns = jun.loc[:, ~jun.columns.isin(columns_to_keep)]
juns

,N,Посада,Мова програмування,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,Тип компанії,Стать,Вік,Освіта,Ще студент,Рівень англійської,Дата заповнення,User.Agent,exp,current_job_exp,salary
0,1,Junior QA engineer,NaN,0.5,0.5,400,0,Харків,до 10 осіб,Аутсорсингова,жіноча,20,Неповна Вища,True,Pre-intermediate (нище середнього),2017-12-06 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400
1,2,Junior QA engineer,NaN,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,Аутсорсингова,жіноча,21,Неповна Вища,True,Upper-Intermediate (вище середнього),2017-12-06 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430
2,3,Software Engineer,C#/.NET,4,1,2500,800,Київ,до 1000 осіб,Аутсорсингова,чоловіча,26,Вища,False,Intermediate (середній),2017-12-06 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500
3,4,Software Engineer,JavaScript,5,4,2000,400,Одеса,до 200 осіб,Продуктова,чоловіча,30,Середня,False,Pre-intermediate (нище середнього),2017-12-06 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000
4,5,Senior Software Engineer,JavaScript,10 і більше років,0.5,4500,500,Інше,до 10 осіб,Продуктова,чоловіча,30,Технікум / Коледж,False,Intermediate (середній),2017-12-06 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,8700,QA engineer,NaN,1,менше 3 місяців,700,700,Одеса,до 50 осіб,Аутсорсингова,чоловіча,23,Вища,False,Intermediate (середній),2017-12-07 15:45:24,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,1.0,0.0,700
8700,8701,Marketing,NaN,0.5,0.5,400,120,Київ,до 50 осіб,Продуктова,жіноча,22,Вища,False,Pre-intermediate (нище середнього),2017-12-07 17:00:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400
8701,8702,Junior Software Engineer,Ruby/Rails,1,0.5,800,500,Львів,до 10 осіб,Аутстафінгова,чоловіча,30,Неповна Вища,False,Upper-Intermediate (вище середнього),2017-12-07 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800
8702,8703,Team lead,NaN,6,4,2600,0,Дніпро,більше 1000 осіб,Аутсорсингова,чоловіча,34,Вища,False,Advanced (просунутий),2017-12-07 18:14:59,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,6.0,4.0,2600
8703,8704,Senior Software Engineer,Java,7,2,5000,800,Одеса,до 1000 осіб,Продуктова,чоловіча,28,Вища,False,Upper-Intermediate (вище середнього),2017-12-07 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000

In [85]:
juns.isnull().sum()

N                                      0
Посада                                 0
Мова програмування                  3850
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [86]:
new_jun = jun.dropna()
new_jun

Empty DataFrame
Columns: [N, Посада, Мова програмування, Спеціалізація, Загальний досвід роботи, Досвід роботи на поточному місці, Зарплата на місяць, Зміна зарплати за 12 місяців, Місто, Розмір компанії, Тип компанії, Стать, Вік, Освіта, Університет, Ще студент, Рівень англійської, Предметна область, Дата заповнення, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

In [87]:
new_jun.shape

(0, 25)

In [88]:
python_data = jun[jun['Мова програмування'] == 'Python']
python_data.to_excel("python_data.xlsx", index=False)

In [89]:
python_data.shape

(207, 25)

In [90]:
grouped_by_position = jun.groupby("Посада")

In [91]:
aggregated_data = jun.groupby("Посада").agg({'Зарплата на місяць': ['min','max']})
aggregated_data

                                           Зарплата на місяць
                                                          min    max
Посада
Business analyst                                          200   5000
DBA                                                       380   6000
Data Scientist / Data Analyst                             150   8000
Designer                                                  100   4000
DevOps                                                    194  10000
Director of Engineering / Program Director               1500  34000
ERP / CRM                                                 100   6000
Game designer                                             150   6800
HR                                                        100   7000
HTML coder                                                154   3000
Junior QA engineer                                         96   2000
Junior Software Engineer                                   75   2600
Marketing                                                 100   4000
Product Manager                                           250   5000
Project manager                                           190   8000
QA Tech Lead                                              430   6000
QA engineer                                               150   2900
Research Engineer                                         114   4000
Sales manager                                             120   2300
Scrum Master                                              370   4500
Security Specialist                                       300   4000
Senior Project Manager / Program Manager                  200   9100
Senior QA engineer                                        400   6000
Senior Software Engineer                                  350   9200
Software Engineer                                         100   7000
Support                                                   138   3650
Sysadmin                                                   90   3000
System Architect                                          400  10000
Talent Researcher                                         100   1700
Team lead                                                 300   7000
Technical Lead                                            500  18000
Technical writer                                          200   3000

In [92]:
def fill_avg_salary(row):
    return row['Зарплата на місяць'].mean()
average_salary = fill_avg_salary(jun)
jun['avg'] = average_salary

In [93]:
stats_avg = jun['avg'].describe()

In [94]:
stats_avg.to_csv("average_salary_stats.csv")